<!DOCTYPE html>
<html>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<div ng-app="myApp" ng-controller="myCtrl" ng-init="myCol='lightblue'">

    Search an Image: <input type="text" name="searchBox" ng-model="image" placeholder="laptop, mountain" required><br>
    <button ng-click="searchVideo()" ng-init="" id="search-button">search</button>
    <div id="search-container">



    </div>
</div>

<script>



</script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="main.js"></script>
</body>
</html>
